In [1]:
import pandas as pd

In [3]:
sample = pd.Series(range(1,60))

In [4]:
sample

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
50    51
51    52
52    53
53    54
54    55
55    56
56    57
57    58
58    59
dtype: int64

If in case we do not want to see the complete data of a series we use head() or tail()

In [5]:
sample.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

Head() will return the top 5 values

In [6]:
sample.head(3)

0    1
1    2
2    3
dtype: int64

Head(n) will return the top n values

In [7]:
sample.tail()

54    55
55    56
56    57
57    58
58    59
dtype: int64

tail() will return the bottom 5 values of the series.

In [8]:
sample.tail(4)

55    56
56    57
57    58
58    59
dtype: int64

tail(n) will return thee bottom n values.

In [13]:
sample.tail(-45)

45    46
46    47
47    48
48    49
49    50
50    51
51    52
52    53
53    54
54    55
55    56
56    57
57    58
58    59
dtype: int64